:root {
  --site-width: min(100%, 1040px);

  
  font-family: Monospac821 BT, monospace;
  line-height: 1.5;
  font-weight: 400;



  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(
    to top right,
    #16181B 0%,
    #0A0C10 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  position: relative;
}
/* a:hover {
  content: "";
  position: absolute;
  left: 0px;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

pre {
  margin: 0 auto;
  width: 1040px;
  font-family: consolas;
  font-size: 2.3rem;
  line-height: 1.2;
  font-weight: 400;
  position: relative;
}

pre.blur {
  filter: blur(5px);
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
}